## Pandas

### Instalação do Pandas

In [ ]:
# Alternativa 1
!pip install pandas 
# alternative: conda install pandas

### Introduzindo Séries de Dados do Pandas

1 - Importe as bibliotecas pandas e numpy com os aliases 'pd' e 'np', respectivamente.

In [1]:
import pandas as pd
import numpy as np

2 - Utilize o numpy para criar um array com 10 elementos de números inteiros aleatórios entre 50 e 100. Em seguida, transforme-o em uma série do pandas e a exiba.

In [2]:
# Insira a resposta abaixo.
arrayNumpy = np.random.randint(50,100,10)
seriePandas =  pd.Series(arrayNumpy)
seriePandas

0    99
1    62
2    65
3    53
4    62
5    75
6    57
7    97
8    74
9    85
dtype: int32

3 - Utilize a função range do Python para criar uma série do Pandas contendo 10 elementos cujos índices sejam uma sequência ascendente de números ímpares  e os valores sejam uma sequência descendente de números inteiros de 10 a 1. Em seguida, converta o tipo numérico da série criada para 'int32' e exiba a série.

In [3]:
# Insira a resposta abaixo.
seriePandas_2 = pd.Series(data = range(10,0,-1), index = range(1,21,2)).astype('int32')
display(seriePandas_2)

1     10
3      9
5      8
7      7
9      6
11     5
13     4
15     3
17     2
19     1
dtype: int32

4 - Abaixo são definidos dois dicionários contendo capitais brasileiras com a população estimada para os anos de 2000 e 2018. Utilize ambos os dicionários definidos abaixos para criar dois objetos do tipo Series.

In [4]:
populacao2000 = {'São Paulo': 10405867, 'Rio de Janeiro': 5851914, 'Salvador': 2440828, 'Belo Horizonte':2232747, 'Fortaleza':2138234	}
populacao2018 = {'São Paulo': 12176866, 'Rio de Janeiro': 6688927, 'Brasília': 2974703, 'Salvador': 2857329, 'Fortaleza': 2643247}

# Insira a resposta abaixo.
seriePandas_2000 = pd.Series(populacao2000)
seriePandas_2018 = pd.Series(populacao2018)
print("População 2000 \n")
print(seriePandas_2000)
print("\nPopulação 2018 \n")
print(seriePandas_2018)

População 2000

São Paulo         10405867
Rio de Janeiro     5851914
Salvador           2440828
Belo Horizonte     2232747
Fortaleza          2138234
dtype: int64

População 2018

São Paulo         12176866
Rio de Janeiro     6688927
Brasília           2974703
Salvador           2857329
Fortaleza          2643247
dtype: int64

#### Operações Aritméticas com Séries

5 - Crie uma nova série contendo a diferença entre as populações de 2018 e 2010.

In [5]:
# Insira a resposta abaixo.
# 1º Forma de subtração
diferenca_2018_2000_Series = seriePandas_2018 - seriePandas_2000

# 2º Forma de subtração - Vou deixar essa forma comentada e utilizar a 1º forma de subtração
# diferenca_2018_2000_Series = seriePandas_2018.subtract(seriePandas_2000)

print("A diferença é: ")
print(diferenca_2018_2000_Series)

A diferença é:
Belo Horizonte          NaN
Brasília                NaN
Fortaleza          505013.0
Rio de Janeiro     837013.0
Salvador           416501.0
São Paulo         1770999.0
dtype: float64

6 - Crie uma nova série contendo a média entre as duas séries iniciais.

In [6]:
# Insira a resposta abaixo.
populacao_media_Series = pd.concat([seriePandas_2018,seriePandas_2000], 
                                   keys=['2018','2000'], 
                                   names=['periodo', 'localidade']).groupby(level='localidade').mean()
print(populacao_media_Series)

localidade
Belo Horizonte     2232747.0
Brasília           2974703.0
Fortaleza          2390740.5
Rio de Janeiro     6270420.5
Salvador           2649078.5
São Paulo         11291366.5
dtype: float64

### Introduzindo Dataframes

7 - Crie um dicionário cujas chaves sejam: 2000, 2018, 'diferenca', 'media'. Utilize como valores as séries correspondentes criadas nas questões anteriores. Utilize esse dicionário para criar um dataframe.

In [7]:
# Insira a resposta abaixo.
dicionario_populacao_DataFrame = {'2000':seriePandas_2000, 
                                  '2018': seriePandas_2018, 
                                  'diferenca': diferenca_2018_2000_Series,
                                  'media': populacao_media_Series}
populacao_DataFrame = pd.DataFrame(dicionario_populacao_DataFrame)
print(populacao_DataFrame)

                      2000        2018  diferenca       media
Belo Horizonte   2232747.0         NaN        NaN   2232747.0
Brasília               NaN   2974703.0        NaN   2974703.0
Fortaleza        2138234.0   2643247.0   505013.0   2390740.5
Rio de Janeiro   5851914.0   6688927.0   837013.0   6270420.5
Salvador         2440828.0   2857329.0   416501.0   2649078.5
São Paulo       10405867.0  12176866.0  1770999.0  11291366.5

8 - Desta vez, crie um dataframe equivalente ao criado na questão anterior concatenando as quatro séries (referentes a 2000, 2018, diferença e média). Lembre-se de inserir os mesmos títulos para as colunas.

In [8]:
# Inserir a resposta abaixo.
New_populacao_DataFrame = pd.DataFrame(data=[seriePandas_2000,
                                             seriePandas_2018,
                                             diferenca_2018_2000_Series,
                                             populacao_media_Series]).T
New_populacao_DataFrame.columns = ['2000','2018', 'diferença','media']

print(New_populacao_DataFrame)

                      2000        2018  diferença       media
São Paulo       10405867.0  12176866.0  1770999.0  11291366.5
Rio de Janeiro   5851914.0   6688927.0   837013.0   6270420.5
Salvador         2440828.0   2857329.0   416501.0   2649078.5
Belo Horizonte   2232747.0         NaN        NaN   2232747.0
Fortaleza        2138234.0   2643247.0   505013.0   2390740.5
Brasília               NaN   2974703.0        NaN   2974703.0

9 - Adicione uma nova coluna ao dataframe anterior chamada 2019, esta deve conter um acréscimo de 50000 sobre os valores da coluna 2018.

In [9]:
# Insira a resposta abaixo.
New_populacao_DataFrame['2019'] = (New_populacao_DataFrame['2018']+50000)
print('Data Frame com o ano de 2019 incluso\n')
print(New_populacao_DataFrame)
print('\n\nReorganizando as colunas do Data Frame ...\n')
New_populacao_DataFrame = New_populacao_DataFrame[['2000','2018','2019','diferença','media']]
print('Data Frame com as colunas organizadas\n')
print(New_populacao_DataFrame)

Data Frame com o ano de 2019 incluso

                      2000        2018  diferença       media        2019
São Paulo       10405867.0  12176866.0  1770999.0  11291366.5  12226866.0
Rio de Janeiro   5851914.0   6688927.0   837013.0   6270420.5   6738927.0
Salvador         2440828.0   2857329.0   416501.0   2649078.5   2907329.0
Belo Horizonte   2232747.0         NaN        NaN   2232747.0         NaN
Fortaleza        2138234.0   2643247.0   505013.0   2390740.5   2693247.0
Brasília               NaN   2974703.0        NaN   2974703.0   3024703.0


Reorganizando as colunas do Data Frame ...

Data Frame com as colunas organizadas

                      2000        2018        2019  diferença       media
São Paulo       10405867.0  12176866.0  12226866.0  1770999.0  11291366.5
Rio de Janeiro   5851914.0   6688927.0   6738927.0   837013.0   6270420.5
Salvador         2440828.0   2857329.0   2907329.0   416501.0   2649078.5
Belo Horizonte   2232747.0         NaN         NaN        NaN   2232747.0
Fortaleza        2138234.0   2643247.0   2693247.0   505013.0   2390740.5
Brasília               NaN   2974703.0   3024703.0        NaN   2974703.0

10 - Exiba somente os dados referentes a Salvador.

In [10]:
# Insira a resposta abaixo.
print('Imprimindo somente os dados de Salvador ...\n')
print(New_populacao_DataFrame.loc['Salvador'])

Imprimindo somente os dados de Salvador ...

2000         2440828.0
2018         2857329.0
2019         2907329.0
diferença     416501.0
media        2649078.5
Name: Salvador, dtype: float64

11 - Exiba ** a terceira linha** do dataframe utilizando o seu posicionamento no dataframe.

In [11]:
# Insira a resposta abaixo.
print('Imprimindo somente os dados da 3º linha ...\n')
print(New_populacao_DataFrame.iloc[2])

Imprimindo somente os dados da 3º linha ...

2000         2440828.0
2018         2857329.0
2019         2907329.0
diferença     416501.0
media        2649078.5
Name: Salvador, dtype: float64

12 - Exiba as **três primeiras linhas** do dataframe a partir da posição.

In [12]:
# Insira a resposta abaixo.
print('Imprimindo somente os dados das três primeiras linhas ...\n')
print(New_populacao_DataFrame.iloc[0:3])

Imprimindo somente os dados das três primeiras linhas ...

                      2000        2018        2019  diferença       media
São Paulo       10405867.0  12176866.0  12226866.0  1770999.0  11291366.5
Rio de Janeiro   5851914.0   6688927.0   6738927.0   837013.0   6270420.5
Salvador         2440828.0   2857329.0   2907329.0   416501.0   2649078.5

13 - Remova a coluna 2019 criada anteriormente.

In [13]:
# Insira a resposta abaixo.
print('Removendo a coluna de 2019 criada anteriormente ...\n')
New_populacao_DataFrame = New_populacao_DataFrame.drop(['2019'], axis=1)

print('\n\nNovo Data Frame\n')
print(New_populacao_DataFrame)

Removendo a coluna de 2019 criada anteriormente ...



Novo Data Frame

                      2000        2018  diferença       media
São Paulo       10405867.0  12176866.0  1770999.0  11291366.5
Rio de Janeiro   5851914.0   6688927.0   837013.0   6270420.5
Salvador         2440828.0   2857329.0   416501.0   2649078.5
Belo Horizonte   2232747.0         NaN        NaN   2232747.0
Fortaleza        2138234.0   2643247.0   505013.0   2390740.5
Brasília               NaN   2974703.0        NaN   2974703.0

14 - Remova os registros que apresentam valores nulos.

In [14]:
# Insira a resposta abaixo.
print('Data Frame antes da remoção dos nulos\n')
print(New_populacao_DataFrame)
print('\n\nRemovendo os nulos do Data Frame . . .\n')
New_populacao_DataFrame = New_populacao_DataFrame.dropna()
print('\n\nNovo Data Frame\n')
print(New_populacao_DataFrame)

Data Frame antes da remoção dos nulos

                      2000        2018  diferença       media
São Paulo       10405867.0  12176866.0  1770999.0  11291366.5
Rio de Janeiro   5851914.0   6688927.0   837013.0   6270420.5
Salvador         2440828.0   2857329.0   416501.0   2649078.5
Belo Horizonte   2232747.0         NaN        NaN   2232747.0
Fortaleza        2138234.0   2643247.0   505013.0   2390740.5
Brasília               NaN   2974703.0        NaN   2974703.0


Removendo os nulos do Data Frame . . .



Novo Data Frame

                      2000        2018  diferença       media
São Paulo       10405867.0  12176866.0  1770999.0  11291366.5
Rio de Janeiro   5851914.0   6688927.0   837013.0   6270420.5
Salvador         2440828.0   2857329.0   416501.0   2649078.5
Fortaleza        2138234.0   2643247.0   505013.0   2390740.5

### Exercícios com base de dados fictícia (toy dataset)

Execute o bloco de código abaixo para realizar o download de uma pequena base de dados que será utilizada para os próximos experimentos. A base de dados poderá ser acessada através do arquivo toy_dataset.csv. Caso a sessão se encerre, re-execute essa célula de código.

In [15]:
!pip install -q kaggle
import os
os.environ['KAGGLE_USERNAME'] = "victorlundgren"
os.environ['KAGGLE_KEY'] = "851b67a8b7e626eb6336620bf1cb0d31"

!kaggle datasets download -d carlolepelaars/toy-dataset
#!unzip toy-dataset.zip # OU tar -xy no Windows10
!tar -xf toy-dataset.zip

toy-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

15 - Execute a leitura do Toy Dataset diretamente em um dataframe.

In [16]:
# Insira a resposta abaixo.
print('Lendo o DataSet Toy ... ')
DataSet_Toy = pd.read_csv('./toy_dataset.csv')

print('\nImprimindo o cabeçalho do Data Set para confirmar a leitura correta do mesmo\n')
print(DataSet_Toy.head())

Lendo o DataSet Toy ...

Imprimindo o cabeçalho do Data Set para confirmar a leitura correta do mesmo

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

16 - Exiba o tipo de dados de cada coluna do dataframe.

In [17]:
# Insira a resposta abaixo.
print('Tipos de dados de cada coluna .... \n')
print(DataSet_Toy.dtypes)

Tipos de dados de cada coluna ....

Number       int64
City        object
Gender      object
Age          int64
Income     float64
Illness     object
dtype: object

17 - Utilize a função .head() para exibir o cabeçalho do dataframe e assim conhecer as colunas, o índice e as linhas iniciais da base de dados.

In [18]:
# Insira a resposta abaixo.
print('\nImprimindo o cabeçalho do Data Set \n')
print(DataSet_Toy.head())

Imprimindo o cabeçalho do Data Set

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

18 - Realize as seguintes operações:

- Adicione uma nova coluna chamada NumberAge e que apresente a soma entre os valores da coluna Number com os valores da coluna Age.
- Exiba o cabeçalho do dataframe resultante.
- Remova a coluna NumberAge.
- Exiba o cabeçalho do dataframe resultante.

In [19]:
# Insira a resposta abaixo.
print('Iniciando a criação da coluna NumberAge . . . \n')
DataSet_Toy['NumberAge'] = DataSet_Toy['Number'] + DataSet_Toy['Age']
print('\n\nImprimindo o cabeçalho do DataSet com a nova coluna NumberAge\n')
print(DataSet_Toy.head())
print('\n\nIniciando a remoção da coluna NumberAge . . . \n')
DataSet_Toy = DataSet_Toy.drop(['NumberAge'], axis = 1)
print('\n\nImprimindo o cabeçalho do DataSet com a remoção da coluna NumberAge\n')
print(DataSet_Toy.head())

Iniciando a criação da coluna NumberAge . . .



Imprimindo o cabeçalho do DataSet com a nova coluna NumberAge

   Number    City Gender  Age   Income Illness  NumberAge
0       1  Dallas   Male   41  40367.0      No         42
1       2  Dallas   Male   54  45084.0      No         56
2       3  Dallas   Male   42  52483.0      No         45
3       4  Dallas   Male   40  40941.0      No         44
4       5  Dallas   Male   46  50289.0      No         51


Iniciando a remoção da coluna NumberAge . . .



Imprimindo o cabeçalho do DataSet com a remoção da coluna NumberAge

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

19 - Realize as seguintes operações a partir do dataframe definido anteriormente:

- Exiba as cinco primeiras linhas do dataframe, todos os atributos devem ser apresentados com exceção do primeiro e último.

- Exiba as cinco últimas linhas do dataframe, exiba somente o atributo City.

In [20]:
# Insira a resposta abaixo.
print('Imprimindo as cinco primeiras linhas, exceto a primeira e ultima coluna\n')
print(DataSet_Toy.iloc[:,1:-1].head())
print('\n\nImprimindo as cinco últimas linhas somente da coluna City\n')
print(DataSet_Toy.loc[:,'City'].tail())

Imprimindo as cinco primeiras linhas, exceto a primeira e ultima coluna

     City Gender  Age   Income
0  Dallas   Male   41  40367.0
1  Dallas   Male   54  45084.0
2  Dallas   Male   42  52483.0
3  Dallas   Male   40  40941.0
4  Dallas   Male   46  50289.0


Imprimindo as cinco últimas linhas somente da coluna City

149995    Austin
149996    Austin
149997    Austin
149998    Austin
149999    Austin
Name: City, dtype: object

20 - Ordene de forma ascendente as amostras utilizando como critério o salário anual. Em seguida, resete os índices dos registros.

In [21]:
# Insira a resposta abaixo.
print('Ordenando de forma ascendente (sálario anual), resetando os índices e dropando a coluna de índice . . .\n')
DataSet_Toy = DataSet_Toy.sort_values(['Income']).reset_index().drop(['index'],axis=1)

print('\nImprimindo o cabeçalho para conferencia do procedimento anterior\n')
print(DataSet_Toy.head())

Ordenando de forma ascendente (sálario anual), resetando os índices e dropando a coluna de índice . . .


Imprimindo o cabeçalho para conferencia do procedimento anterior

   Number    City  Gender  Age  Income Illness
0     246  Dallas  Female   40  -654.0     Yes
1    7897  Dallas  Female   34   584.0      No
2   18485  Dallas  Female   43  2474.0      No
3    9299  Dallas  Female   31  2667.0     Yes
4   17136  Dallas  Female   39  3842.0      No

**21 - Defina a coluna 'Number' como o índice do dataframe. Em seguida, exiba do segundo até o quinto registro a partir do posicionamento.**

In [22]:
# Insira a resposta abaixo.
print('Setando a coluna Number como índex do DataSet . . . \n')
DataSet_Toy = DataSet_Toy.set_index(['Number'])
print('\nImprimindo do 2º ao 5º registro do DataSet\n')
print(DataSet_Toy.iloc[1:5,:])

Setando a coluna Number como índex do DataSet . . .


Imprimindo do 2º ao 5º registro do DataSet

          City  Gender  Age  Income Illness
Number
7897    Dallas  Female   34   584.0      No
18485   Dallas  Female   43  2474.0      No
9299    Dallas  Female   31  2667.0     Yes
17136   Dallas  Female   39  3842.0      No

22 - Desta vez, exiba os registros com Number variando de 2 até 5 a partir do próprio rótulo Number.

In [23]:
# Insira a resposta abaixo.
print('\nImprimindo do 2º ao 5º registro do DataSet a partir do próprio rótulo\n')
DataSet_Toy.loc[[2,3,4,5]]

Imprimindo do 2º ao 5º registro do DataSet a partir do próprio rótulo

          City Gender  Age   Income Illness
Number
2       Dallas   Male   54  45084.0      No
3       Dallas   Male   42  52483.0      No
4       Dallas   Male   40  40941.0      No
5       Dallas   Male   46  50289.0      No

23 - Qual a cidade e o gênero da pessoa com a maior renda (Income)?

In [24]:
# Insira a resposta abaixo.
print('Cidade e Gênero da pessoa\n')
print(DataSet_Toy.iloc[-1,0:2])

print('\n\nPara fins de conferência o resultado com o valor da coluna Income\n')
print(DataSet_Toy.iloc[-1,0:4])

Cidade e Gênero da pessoa

City      Mountain View
Gender             Male
Name: 109351, dtype: object


Para fins de conferência o resultado com o valor da coluna Income

City      Mountain View
Gender             Male
Age                  58
Income           177157
Name: 109351, dtype: object

24 - Quantas pessoas moram na cidade de Dallas?

In [25]:
# Insira a resposta abaixo.
print('Quantidade de pessoas que moram em Dallas\n')
print(DataSet_Toy.City.value_counts()['Dallas'])

Quantidade de pessoas que moram em Dallas

19707

25 - Qual a idade média das pessoas que estão doentes? Utilize o atributo Illness para obter essa informação.

In [26]:
# Insira a resposta abaixo.

print('Valor médio das pessoas doentes\n')
print(DataSet_Toy[DataSet_Toy['Illness'] == 'Yes'].Age.mean())

Valor médio das pessoas doentes

45.02084191449048

26 - Quantas pessoas tem um salário anual maior que R$ 30000?

In [27]:
# Insira a resposta abaixo.

print('Quantidade de pessoas com sálario maior que R$ 30000\n')
print(DataSet_Toy[(DataSet_Toy.Income>30000)].Income.count())

Quantidade de pessoas com sálario maior que R$ 30000

148218

27 - Quantas pessoas estão doentes?

In [28]:
# Insira a resposta abaixo.
print('Quantidade de pessoas doentes\n')
print(DataSet_Toy[DataSet_Toy['Illness'] == 'Yes'].Illness.count())

Quantidade de pessoas doentes

12139

28 - Quantas pessoas estão doente e apresentam renda (Income) menor que 35000 ou maior que 50000?

In [29]:
# Insira a resposta abaixo.
print('Quantas pessoas doentes e com renda menor que 35000 ou maior que 50000\n')

print(DataSet_Toy[(DataSet_Toy['Illness'] == 'Yes')&
                  ((DataSet_Toy['Income']>35000) |
                   (DataSet_Toy['Income']<50000))
                 ].Illness.count())

Quantas pessoas doentes e com renda menor que 35000 ou maior que 50000

12139

29 - Mostre os registros que apresentam a menor idade encontrada e uma renda entre 40000 e 42000.

In [30]:
# Insira a resposta abaixo.
print('Registros com a menor idade e renda entre 40000 e 42000\n')
print(DataSet_Toy[((DataSet_Toy.Age == DataSet_Toy.Age.min())
    & (DataSet_Toy['Income'] > 40000)
    & (DataSet_Toy['Income'] < 42000))])

Registros com a menor idade e renda entre 40000 e 42000

                   City  Gender  Age   Income Illness
Number
2682             Dallas  Female   25  40075.0      No
13564            Dallas  Female   25  40076.0      No
5640             Dallas    Male   25  40313.0      No
14607            Dallas  Female   25  40363.0      No
16403            Dallas  Female   25  40389.0      No
10740            Dallas    Male   25  40467.0      No
128932  Washington D.C.  Female   25  40476.0      No
10181            Dallas  Female   25  40761.0      No
18191            Dallas  Female   25  40795.0      No
2709             Dallas  Female   25  40899.0      No
2092             Dallas    Male   25  41013.0      No
18503            Dallas    Male   25  41241.0      No
7675             Dallas  Female   25  41288.0      No
5280             Dallas  Female   25  41365.0      No
9956             Dallas  Female   25  41444.0      No
8653             Dallas  Female   25  41561.0      No
9776             Dallas  Female   25  41612.0      No
7931             Dallas    Male   25  41630.0      No
6964             Dallas    Male   25  41654.0      No
8765             Dallas  Female   25  41975.0      No

30 - Mostre os registros referentes a cidade de Dallas que apresentam a maior idade e que estão doentes.

In [31]:
# Insira a resposta abaixo.
print('Registros da cidade de Dallas que apresentam a maior idade e que estão doentes\n')

print(DataSet_Toy[
    (DataSet_Toy.City =='Dallas') &
    (DataSet_Toy.Illness == 'Yes') &
     (DataSet_Toy.Age == DataSet_Toy.Age.max())
])

Registros da cidade de Dallas que apresentam a maior idade e que estão doentes

          City  Gender  Age   Income Illness
Number
14437   Dallas  Female   65  20732.0     Yes
17728   Dallas  Female   65  30468.0     Yes
10518   Dallas    Male   65  32516.0     Yes
4359    Dallas  Female   65  34712.0     Yes
14711   Dallas  Female   65  34991.0     Yes
15663   Dallas  Female   65  35688.0     Yes
15866   Dallas    Male   65  36590.0     Yes
1564    Dallas  Female   65  38193.0     Yes
17788   Dallas    Male   65  40675.0     Yes
13877   Dallas    Male   65  42107.0     Yes
6074    Dallas  Female   65  45253.0     Yes
7587    Dallas    Male   65  45705.0     Yes
3318    Dallas    Male   65  48022.0     Yes
11236   Dallas  Female   65  48395.0     Yes
7284    Dallas    Male   65  54156.0     Yes
16487   Dallas    Male   65  56236.0     Yes
18498   Dallas  Female   65  56754.0     Yes
16224   Dallas  Female   65  56795.0     Yes
3924    Dallas    Male   65  59748.0     Yes
2379    Dallas    Male   65  67526.0     Yes

31 - Obtenha os registros das pessoas que moram na cidade de Austin e que apresentam idade menor que 26 anos. Exiba cinco amostras.

In [32]:
# Insira a resposta abaixo.
print('Pessoas que moram em Austin e possui menos de 26 anos - Exibindo 5 Registos\n')
print(DataSet_Toy[
    (DataSet_Toy.City == 'Austin') &
    (DataSet_Toy.Age < 26)
].head())

Pessoas que moram em Austin e possui menos de 26 anos - Exibindo 5 Registos

          City  Gender  Age   Income Illness
Number
149888  Austin  Female   25  66847.0      No
144554  Austin    Male   25  67468.0      No
147407  Austin  Female   25  68183.0      No
146850  Austin  Female   25  68323.0      No
149187  Austin  Female   25  69530.0      No

32 - Exiba as informações estatísticas básicas referentes as colunas do dataframe (média, desvio padrão, valor mínimo, valor máximo, primeiro quartil, segundo quartil, terceiro quartil). Dica: o pandas possui uma função para gerar uma estatística descritiva dos dados.

In [33]:
# Insira a resposta abaixo.
print('Informações estatísticas básicas. OBs.: Somente das colunas que é possui\n')
print(DataSet_Toy.describe())

Informações estatísticas básicas. OBs.: Somente das colunas que é possui

                 Age         Income
count  150000.000000  150000.000000
mean       44.950200   91252.798273
std        11.572486   24989.500948
min        25.000000    -654.000000
25%        35.000000   80867.750000
50%        45.000000   93655.000000
75%        55.000000  104519.000000
max        65.000000  177157.000000

33 - Apresenta a quantidade de pessoas doentes por cidade.

In [34]:
# Insira a resposta abaixo.
print('Quantidade de pessoas doentes por cidade\n')
print(DataSet_Toy.groupby('Illness').City.value_counts().to_frame().query("Illness == 'Yes'"))

Quantidade de pessoas doentes por cidade

                         City
Illness City
Yes     New York City    4021
        Los Angeles      2568
        Dallas           1613
        Mountain View    1178
        Austin           1011
        Boston            686
        Washington D.C.   668
        San Diego         394

34 - Armazene em uma nova variável o agrupamento dos dados do dataframe usado anteriormente tomando como critério o gênero e a cidade, nessa exata ordem. Utilize a média como função de agregação e exiba somente a idade e salário anual.

In [35]:
# Insira a resposta abaixo.
print('Armazemando os dados agrupados em um novo DataFram . . . \n')
DataSet_Toy_Agrupado = DataSet_Toy.groupby(['Gender','City']).mean()
print('Dados armazemados.\n')
print('Exibindo os dados:')
print(DataSet_Toy_Agrupado)

Armazemando os dados agrupados em um novo DataFram . . .

Dados armazemados.

Exibindo os dados:
                              Age         Income
Gender City
Female Austin           44.505478   84958.760631
       Boston           45.219112   85978.442530
       Dallas           45.141987   39602.533142
       Los Angeles      44.963668   89732.511306
       Mountain View    45.011791  129476.667463
       New York City    45.037976   91171.135035
       San Diego        45.093422   95313.831745
       Washington D.C.  44.964085   65449.164141
Male   Austin           44.764876   94424.246272
       Boston           45.180549   96071.649368
       Dallas           44.992910   49722.384021
       Los Angeles      45.018392   99681.616055
       Mountain View    44.977716  139504.523354
       New York City    44.830816  101338.023920
       San Diego        44.868487  104859.014732
       Washington D.C.  44.676471   75327.277217

35 - Exiba o index do dataframe oriundo do agrupamento realizado na questão anterior.

In [36]:
# Insira a resposta abaixo.
print('Exibindo o index do DataFrame criado na questão anterior')
print(DataSet_Toy_Agrupado.index)

Exibindo o index do DataFrame criado na questão anterior
MultiIndex(levels=[['Female', 'Male'], ['Austin', 'Boston', 'Dallas', 'Los Angeles', 'Mountain View', 'New York City', 'San Diego', 'Washington D.C.']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1], [0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7]],
           names=['Gender', 'City'])

36 - Como visto na questão anterior, o agrupamento gerou um dataframe com índice multinível. Acesse os dados referentes ao gênero feminino.

In [37]:
# Insira a resposta abaixo.
print('Acessando dados do gênero feminino')
print(DataSet_Toy_Agrupado.groupby(['Gender','City']).mean().loc['Female',:])

Acessando dados do gênero feminino
                       Age         Income
City
Austin           44.505478   84958.760631
Boston           45.219112   85978.442530
Dallas           45.141987   39602.533142
Los Angeles      44.963668   89732.511306
Mountain View    45.011791  129476.667463
New York City    45.037976   91171.135035
San Diego        45.093422   95313.831745
Washington D.C.  44.964085   65449.164141

37 - Desta vez, liste os dados indexando diretamente pela cidade de Boston. Assim, deve ser exibida a idade média e o salário anual médio para ambos os gêneros.

In [38]:
# Insira a resposta abaixo.
print('Média da idade e Sálario Anual para a cidade de Boston\n')
print(DataSet_Toy_Agrupado.groupby(['City','Gender']).mean().loc['Boston',:])

Média da idade e Sálario Anual para a cidade de Boston

              Age        Income
Gender
Female  45.219112  85978.442530
Male    45.180549  96071.649368

38 - Crie duas novas séries compostas de números aleatórios oriundos de uma distribuição normal. As séries devem ter o mesmo número de elementos que o dataframe, utilize como base os índices do dataframe criado anteriormente para construir as séries. Em seguida, concatene as duas séries horizontalmente e defina os títulos das colunas como 'Random 1' e 'Random 2'. Finalmente, concatene horizontalmente o resultado anterior com o dataframe imediatamente anterior aos agrupamentos realizados nas questões anteriores. Dica: lembre-se que o índice Number inicia em 1 quando for criar as séries de números aleatórios.

In [39]:
# Insira a resposta abaixo.
print('Criando série randomica 1 . . . .\n')
Random1 = pd.Series(data = np.random.randn(len(DataSet_Toy_Agrupado)), name='Random1')
Random1.index +=1
print('\nSérie randomica 1 criada com sucesso\n')

print('Criando série randomica 2 . . . .\n')
Random2 = pd.Series(data = np.random.randn(len(DataSet_Toy_Agrupado)),name='Random2')
Random2.index +=1
print('\nSérie randomica 2 criada com sucesso\n')

print('Concatenando as series e fazendo o join com o DataFrame anterior . . . \n')
DataFrameConcat = pd.concat([Random1, Random2],axis=1)
New_DataSet_Toy = DataSet_Toy.join(DataFrameConcat)

print('\nExibindo o novo DataFrame')
print(New_DataSet_Toy)

Criando série randomica 1 . . . .


Série randomica 1 criada com sucesso

Criando série randomica 2 . . . .


Série randomica 2 criada com sucesso

Concatenando as series e fazendo o join com o DataFrame anterior . . .


Exibindo o novo DataFrame
                 City  Gender  Age    Income Illness  Random1  Random2
Number
246            Dallas  Female   40    -654.0     Yes      NaN      NaN
7897           Dallas  Female   34     584.0      No      NaN      NaN
18485          Dallas  Female   43    2474.0      No      NaN      NaN
9299           Dallas  Female   31    2667.0     Yes      NaN      NaN
17136          Dallas  Female   39    3842.0      No      NaN      NaN
2119           Dallas  Female   56    4371.0      No      NaN      NaN
4247           Dallas  Female   38    5717.0      No      NaN      NaN
18986          Dallas  Female   40    6722.0      No      NaN      NaN
407            Dallas  Female   65    6733.0      No      NaN      NaN
17103          Dallas  Female   40    8129.0      No      NaN      NaN
1826           Dallas  Female   59    8182.0      No      NaN      NaN
2524           Dallas  Female   36    8279.0      No      NaN      NaN
5499           Dallas  Female   63    8548.0      No      NaN      NaN
1038           Dallas  Female   42    8613.0      No      NaN      NaN
7636           Dallas  Female   26    8719.0      No      NaN      NaN
3087           Dallas  Female   51    8812.0      No      NaN      NaN
14204          Dallas  Female   49    9046.0      No      NaN      NaN
6623           Dallas  Female   40    9531.0      No      NaN      NaN
17821          Dallas  Female   57    9760.0     Yes      NaN      NaN
11466          Dallas  Female   35   10129.0      No      NaN      NaN
4435           Dallas  Female   48   10672.0      No      NaN      NaN
16491          Dallas  Female   41   11039.0      No      NaN      NaN
5601           Dallas  Female   30   11284.0      No      NaN      NaN
18666          Dallas  Female   55   11301.0     Yes      NaN      NaN
10955          Dallas  Female   47   11377.0      No      NaN      NaN
3024           Dallas  Female   38   11495.0      No      NaN      NaN
388            Dallas  Female   56   11535.0      No      NaN      NaN
15101          Dallas  Female   49   11551.0      No      NaN      NaN
12091          Dallas  Female   62   11662.0      No      NaN      NaN
16587          Dallas  Female   25   11792.0      No      NaN      NaN
...               ...     ...  ...       ...     ...      ...      ...
112403  Mountain View    Male   33  166633.0      No      NaN      NaN
112384  Mountain View  Female   58  166673.0      No      NaN      NaN
109468  Mountain View    Male   61  167012.0      No      NaN      NaN
105108  Mountain View    Male   36  167041.0      No      NaN      NaN
104258  Mountain View    Male   43  167077.0      No      NaN      NaN
105611  Mountain View    Male   37  167109.0      No      NaN      NaN
109424  Mountain View    Male   47  167114.0      No      NaN      NaN
113060  Mountain View    Male   45  167414.0      No      NaN      NaN
114836  Mountain View    Male   58  167606.0      No      NaN      NaN
107397  Mountain View    Male   35  167826.0      No      NaN      NaN
112765  Mountain View    Male   45  168117.0      No      NaN      NaN
106986  Mountain View    Male   48  168328.0      No      NaN      NaN
115101  Mountain View  Female   32  168440.0      No      NaN      NaN
107178  Mountain View    Male   49  168505.0      No      NaN      NaN
114626  Mountain View    Male   51  168743.0      No      NaN      NaN
102763  Mountain View    Male   62  168911.0      No      NaN      NaN
115296  Mountain View    Male   46  168918.0      No      NaN      NaN
107486  Mountain View    Male   63  169843.0      No      NaN      NaN
109556  Mountain View    Male   43  170179.0      No      NaN      NaN
114767  Mountain View    Male   48  170289.0      No      NaN      NaN
105905  Mountain View    Male   30  170463.0      No      NaN      NaN
106021  Mountain View    Male   27  170927.0      No      NaN      NaN
107155  Mountain View    Male   31  170937.0      No      NaN      NaN
112341  Mountain View    Male   37  170965.0      No      NaN      NaN
102882  Mountain View    Male   47  171862.0      No      NaN      NaN
112193  Mountain View    Male   58  172825.0      No      NaN      NaN
110878  Mountain View    Male   52  173826.0      No      NaN      NaN
109061  Mountain View    Male   61  173991.0      No      NaN      NaN
105282  Mountain View    Male   41  176746.0      No      NaN      NaN
109351  Mountain View    Male   58  177157.0      No      NaN      NaN

[150000 rows x 7 columns]

39 - Adicione uma nova linha com valores do tipo NaN (utilize o numpy.nan) no dataframe atual. Em seguida, preencha-a com a mediana dos valores de cada coluna na qual o valor nulo se encontra. Os atributos categóricos como Gender permanecerão como NaN, substitua-os com o valor não-nulo anterior ao registro. 

Dica: utilize uma nova variável para armazenar o dataframe para evitar modificações desnecessárias enquanto constrói os procedimentos. Para acompanhar o estado do dataframe durante as alterações utilize o método .tail() para exibir as últimas linhas do dataframe.

In [40]:
# Insira a resposta abaixo.

print('Preenchendo a mediana')
Mediana_DataSet_Toy = New_DataSet_Toy.append(pd.Series(name='Mediana'))

for col in Mediana_DataSet_Toy.columns:
  try:
    Mediana_DataSet_Toy.loc['Mediana',col] = np.median(Mediana_DataSet_Toy[col].iloc[:-1]) 
  except:
    pass
    
Mediana_DataSet_Toy.tail(1)

Preenchendo a mediana

C:\Users\gfsilva\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)

        City Gender   Age   Income Illness  Random1  Random2
Number
Mediana  NaN    NaN  45.0  93655.0     NaN      NaN      NaN

40 - Liste sem repetição as cidades que estão presentes no dataframe.

In [41]:
# Insira a resposta abaixo.
New_DataSet_Toy.City.unique()

array(['Dallas', 'Washington D.C.', 'Boston', 'Austin', 'Los Angeles',
       'New York City', 'San Diego', 'Mountain View'], dtype=object)

41 - Crie uma função anônima *lambda* que receba cada idade e a incremente com +1. Aplique essa função na coluna Age do dataframe.

In [44]:
# Insira a resposta abaixo.
print('Criando a função lambda. . . \n')

flambda = lambda idade: idade+1

print('Função criada com sucesso\n')
print('Aplicando a função lambda ... \n')
New_DataSet_Toy.Age = New_DataSet_Toy.Age.apply(flambda)

print('Exibindo o DataFrame após a aplicação da função lambda.\n')
print(New_DataSet_Toy.head())

Criando a função lambda. . .

Função criada com sucesso

Aplicando a função lambda ...

Exibindo o DataFrame após a aplicação da função lambda.

          City  Gender  Age  Income Illness  Random1  Random2
Number
246     Dallas  Female   41  -654.0     Yes      NaN      NaN
7897    Dallas  Female   35   584.0      No      NaN      NaN
18485   Dallas  Female   44  2474.0      No      NaN      NaN
9299    Dallas  Female   32  2667.0     Yes      NaN      NaN
17136   Dallas  Female   40  3842.0      No      NaN      NaN

42 - Crie um novo dataframe a partir do "toy" dataframe. **Este deve utilizar as diferentes cidades como índices e ambos os gêneros como colunas, informando para cada cidade a idade média**. Dica: considere criar uma pivot table.

In [45]:
# Insira a resposta abaixo.
print('Criando o novo DataFrame. . . \n')
New_CI_DataSet_Toy = DataSet_Toy.pivot_table(index='City', columns = 'Gender')
print('Exibindo o novo DataFrame\n')
print(New_CI_DataSet_Toy)

Criando o novo DataFrame. . .

Exibindo o novo DataFrame

                       Age                    Income
Gender              Female       Male         Female           Male
City
Austin           44.505478  44.764876   84958.760631   94424.246272
Boston           45.219112  45.180549   85978.442530   96071.649368
Dallas           45.141987  44.992910   39602.533142   49722.384021
Los Angeles      44.963668  45.018392   89732.511306   99681.616055
Mountain View    45.011791  44.977716  129476.667463  139504.523354
New York City    45.037976  44.830816   91171.135035  101338.023920
San Diego        45.093422  44.868487   95313.831745  104859.014732
Washington D.C.  44.964085  44.676471   65449.164141   75327.277217

### Introduzindo as Funções Merge e Join

43 - Abaixo pode-se conferir dois dicionários referentes à registros de desempenho escolar de estudantes em duas disciplinas diferentes. No dicionário referente a disciplina de Matemática, a lista de CPFs dos alunos pode ser acessada através da chave 'CPF', enquanto para o dicionário de Química a chave referente aos CPFs é denominada 'Matricula'. Dado que alguns estudantes que fazem parte da disciplina de matemática, também estão presentes na turma de química, realize as seguintes operações:
1. Crie um dataframe para cada disciplina.
2. Utilize as colunas que contêm os dados de CPF para criar um dataframe final contendo somente os registros dos alunos que contemplaram ambas as disciplinas. O dataframe deve conter somente as colunas 'CPF', 'Nome', 'Nota_Matemática', 'Matricula' e 'Nota_Química'.

In [46]:
matematica = {'CPF': [34160272215, 63862254062, 88415367805, 88134932070], 'Nome':['Álex', 'Noah', 'Sam', 'Kim'], 'Nota': [8.95, 9.1, 7.9, 9.2]}
quimica = {'Matricula': [63862254062, 24208455012, 27440174003, 88415367805], 'Nome':['Noah', 'Dirceu', 'Dominique', 'Sam'], 'Nota': [7.79, 8.2, 7.5, 8.2]}

# Insira a resposta abaixo.

# Passo 1
print('Criando os DataFrames . . .\n')
DataFrame_Mat = pd.DataFrame(matematica)
DataFrame_Qui = pd.DataFrame(quimica)
print('\nDataFrames criados com sucesso . . .\n')
# Passo 2
print('Fazendo o merge e criando o novo DataFrame\n')
Notas_DataFrame = pd.merge(DataFrame_Mat,
                           DataFrame_Qui, 
                           on='Nome', 
                           suffixes=('FinalMat','FinalQui'))
print('Exibindo o DataFrame final\n')
print(Notas_DataFrame)

Criando os DataFrames . . .


DataFrames criados com sucesso . . .

Fazendo o merge e criando o novo DataFrame

Exibindo o DataFrame final

           CPF  Nome  NotaFinalMat    Matricula  NotaFinalQui
0  63862254062  Noah           9.1  63862254062          7.79
1  88415367805   Sam           7.9  88415367805          8.20

44 - A partir da questão anterior, utilize os dois dataframes criados para cada disciplina e defina o CPF como o índice de ambos os objetos. Em seguida, utilize os índices do dataframe para criar uma nova base contendo somente os registros dos alunos que contemplaram ambas as disciplinas. O dataframe deve conter as colunas 'CPF', 'Nome', 'Nota_Matemática', 'Matricula' e 'Nota_Química'.

In [47]:
# Insira a resposta abaixo.
print('Realizando as operações solicitadas...\n')

DataFrame_Qui = pd.merge(DataFrame_Mat,DataFrame_Qui, how='inner', on='Nome', suffixes=('_Matemática','_Química'))
DataFrame_Qui.set_index('CPF', inplace=True)
DataFrame_Mat.set_index('CPF', inplace=True)
DataFrame_Final = DataFrame_Mat.join(DataFrame_Qui.drop('Nome', axis=1), lsuffix='_Matemática', rsuffix='_Química',how='inner') 

print('\nImprimindo o DataFram Final\n')
DataFrame_Final

Realizando as operações solicitadas...


Imprimindo o DataFram Final

             Nome  Nota  Nota_Matemática    Matricula  Nota_Química
CPF
63862254062  Noah   9.1              9.1  63862254062          7.79
88415367805   Sam   7.9              7.9  88415367805          8.20

45 - Ainda utilizando o dataframe da questão anterior, apresente desta vez a união entre ambos, de forma a apresentar todos os alunos que contenplaram alguma das disciplinas

In [48]:
# Insira a resposta abaixo.
print('Criando novo DataSet\n')
New_DataFrame_Final = pd.merge(DataFrame_Mat, DataFrame_Qui, how ='outer', on='Nome', suffixes= ('_Matemática', '_Química'))
print('Exibindo novo DataSet\n')

print(New_DataFrame_Final)

Criando novo DataSet

Exibindo novo DataSet

   Nome  Nota  Nota_Matemática     Matricula  Nota_Química
0  Álex  8.95              NaN           NaN           NaN
1  Noah  9.10              9.1  6.386225e+10          7.79
2   Sam  7.90              7.9  8.841537e+10          8.20
3   Kim  9.20              NaN           NaN           NaN

46 - Salve o dataframe resultante da questão anterior em um csv.

In [49]:
# Insira a resposta abaixo.
print('Salvando o DataFram em .CSV')
New_DataFrame_Final.to_csv('New_DataFrame_Final.csv')

Salvando o DataFram em .CSV