## Funções

33 - Crie uma função que calcule o fatorial de um número passado como argumento. Caso o número seja negativo, retorne um valor nulo. Caso positivo, retorne o resultado do fatorial. Dica: utilize recursividade e lembre-se de considerar que o fatorial de 0 é 1.

In [1]:
# Insira a resposta abaixo
def fatorial(i):
  if i<0:
    return None

  elif i==0:
    return 1

  elif i not in memo:
    memo[i]= i*fatorial(i-1)

  return memo[i]

memo = {}

print('Fatorial de -1 é: '+ str(fatorial(-5)))
print('Fatorial de 0 é: '+ str(fatorial(0)))
print('Fatorial de 1 é: '+ str(fatorial(10)))

Fatorial de -1 é: None
Fatorial de 0 é: 1
Fatorial de 1 é: 3628800

34 - Define uma função que receba um número arbitrário de argumentos e retorne a sua soma. Exiba o resultado de uma chamada dessa função passando como argumentos números inteiros.

In [6]:
# Insira a resposta abaixo.

def soma(*args):
  return sum(args)

soma(23,43565,345345,2342)

391275

### Funções Especiais

Nessa sessão serão explorados exercícios baseados em funções especiais do Python, tais como range, lambda, map, filter, enumerate e zip.

35 - Utilize a função *range* para criar uma lista de números inteiros que vai de 100 a -100, seguindo uma ordem decrescente e com intervalos de duas unidades. Exiba a lista gerada.

In [8]:
# Insira a resposta abaixo.
lista = list(range(100,-102,-2))
lista

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2,
 0,
 -2,
 -4,
 -6,
 -8,
 -10,
 -12,
 -14,
 -16,
 -18,
 -20,
 -22,
 -24,
 -26,
 -28,
 -30,
 -32,
 -34,
 -36,
 -38,
 -40,
 -42,
 -44,
 -46,
 -48,
 -50,
 -52,
 -54,
 -56,
 -58,
 -60,
 -62,
 -64,
 -66,
 -68,
 -70,
 -72,
 -74,
 -76,
 -78,
 -80,
 -82,
 -84,
 -86,
 -88,
 -90,
 -92,
 -94,
 -96,
 -98,
 -100]

36 - Crie uma função anônima que tenha como entrada um único parâmetro e retorne a sua raiz caso o número informado seja maior ou igual a 0. Em caso de números negativos, retorne um valor nulo. Teste a função para os valores -9, 0, 9. Dica: utilize a biblioteca math para acessar operações matemáticas.

In [10]:
# Insira a resposta abaixo.
from math import sqrt

raiz = lambda num : None if num < 0 else sqrt(num)

print(raiz(-9))
print(raiz(0))
print(raiz(9))

None
0.0
3.0

37 - Uma pesquisa de satisfação dos empregados de uma determinada empresa reuniu dados referente a um questionário no qual foi computado o nível de satisfação do empregado em relação ao salário recebido. Os valores salariais estão armazenados na variávei 'salarios' e pontuação do questionário está armazenada na variável 'satisfacao_empregado'. Realize os seguintes procedimentos.

1. A partir da lista satisfacao_empregados, gere uma nova lista com valores normalizados entre 0 e 1.  Fórmula para normalização: $ \frac{x_i - x_{min}}{x_{max} - x_{min}} $
2. Crie a seguinte função: $ f(x) = 0.0004x -0.4 $. A função recebe como entrada um unico número inteiro.
3. Utilize a função criada no passo anterior para criar uma nova lista a partir da lista '*salarios*'. Armazene-a em uma variável denominada '*satisfacao_estimada*'.
4. Crie uma função que receba como entrada duas listas e compute $ \frac{1}{n}\sum_{i=0}^{n}(a_i - b_i)^2 $. Assuma que $n$ seja o número de elementos de qualquer uma das listas e $a$ e $b$ correspondam a valores das listas em uma mesma posição $i$.

Dica: considere utilizar a função map e a função anônima lambda para os procedimentos simples como, por exemplo, dos passos 1 ao 3.

In [11]:
# Insira a resposta abaixo.
salarios = [1000, 1500, 2000, 2500, 3000, 3500]
satisfacao_empregados = [40, 50, 60, 70, 80, 90]

# Insira abaixo a funcao para normalizar a lista satisfacao_empregados
minimo = min(satisfacao_empregados)
maximo = max(satisfacao_empregados)
satisfacao_empregados_normalizado = list(map(lambda i:(i-minimo)/(maximo-minimo), satisfacao_empregados))

#1
print(satisfacao_empregados_normalizado)

#2
f_ = lambda x : 0.0004 * x - 0.4

#3
satisfacao_estimada = map(lambda i:f_(i), salarios)

#4
def erro_medio(lst1, lst2):
  soma = sum([(n1 - n2)**2 for n1, n2 in zip(lst1, lst2)])
  erro_medio = soma / len(lst1)
  return erro_medio

print(erro_medio(satisfacao_empregados_normalizado, satisfacao_estimada))

[0.0, 0.2, 0.4, 0.6, 0.8, 1.0]
2.5679065925163146e-33

38 - A partir da lista definida abaixo, filtre-a de forma que somente as palavras com menos de 3 caracteres sejam mantidas. Dica: utilize a função filter.

In [12]:
lista = ['tempor', 'erat,', 'in,', 'elit', 'Etiam', 'tincidunt.', 'rutrum', 'ut,', 'lacinia', 'Integer', 'Nam', 'turpis', 'Nulla', 'non.', 'vehicula', 'diam', 'porttitor', 'blandit', 'Sed', 'pharetra', 'erat', 'hendrerit', 'tristique', 'vulputate', 'faucibus.', 'augue.', 'potenti.', 'vel', 'eros', 'imperdiet,', 'a.', 'dolor.', 'pretium', 'Fusce', 'sit', 'ornare', 'Morbi', 'quis', 'fringilla', 'lobortis', 'tempus', 'mauris', 'ante,', 'lacus', 'porta.', 'faucibus,', 'quis.', 'vestibulum', 'primis', 'luctus,', 'ullamcorper.', 'augue', 'nec', 'mollis', 'lectus', 'dolor', 'sodales', 'ligula,', 'dignissim', 'sem', 'varius', 'mi', 'eu', 'elit.', 'semper', 'id,', 'tempus.', 'finibus.', 'neque', 'quam.', 'scelerisque', 'lorem', 'diam,', 'Cras', 'nisi', 'Lorem', 'leo,', 'Ut', 'ut', 'feugiat.', 'ante', 'venenatis', 'fermentum', 'congue', 'urna', 'Praesent', 'Donec', 'Vestibulum', 'purus.', 'Nullam', 'tincidunt', 'efficitur', 'velit', 'commodo.', 'iaculis', 'sed,', 'volutpat', 'amet', 'mauris.', 'odio', 'a', 'Interdum', 'neque.', 'risus', 'vitae', 'consectetur', 'adipiscing', 'at', 'Aliquam', 'molestie', 'euismod', 'odio.', 'sed', 'in', 'suscipit', 'augue,', 'sapien', 'posuere', 'euismod,', 'ipsum', 'et.', 'maximus.', 'risus,', 'Suspendisse', 'et', 'facilisis', 'elementum', 'efficitur,', 'ac', 'nulla.', 'quam', 'arcu', 'fames', 'Nunc', 'pharetra,', 'laoreet', 'ligula', 'fermentum,', 'auctor', 'tortor,', 'Curabitur', 'eget', 'finibus', 'ultrices', 'malesuada', 'purus', 'congue,', 'amet,', 'fermentum.', 'dui']

# Insira a resposta abaixo.

Resultado = list(filter(lambda x: x if len(x)<4 else None , lista))
print(Resultado)

['in,', 'ut,', 'Nam', 'Sed', 'vel', 'a.', 'sit', 'nec', 'sem', 'mi', 'eu', 'id,', 'Ut', 'ut', 'a', 'at', 'sed', 'in', 'et.', 'et', 'ac', 'dui']

39 - A partir da lista definida abaixo, gere automaticamente e exiba um dicionário enumerado do tipo:

```
dicionario = {0: 'Preprocessing', 1: 'Feature Extraction', 2: 'Feature Selection' ...}

```

Em seguida, gere a seguinte saída:

Step 1 - Preprocessing

Step 2 - Feature Extraction

Step 3 - Feature Selection

Step 4 - Classification

Step 5 - Post Processing

In [21]:
lst = ["Preprocessing", "Feature Extraction", "Feature Selection", "Classification", "Post Processing"]

# Insira a resposta abaixo.
# Na ordem inversa
dic = {}
count = 0
for item in lst:
  dic[count]=item
  count += 1
    
result = list(dic.items())
for item in result:
  print('Step {} - {}'.format(item[0],item[1]))

Step 0 - Preprocessing
Step 1 - Feature Extraction
Step 2 - Feature Selection
Step 3 - Classification
Step 4 - Post Processing

40 - Realize os seguintes procedimentos:
1. Crie uma lista de números inteiros de 1 a 4 com incremento de 1 em 1.
2. Crie uma lista contendo quatro strings.
3. Utilize uma única estrutura de repetição do tipo *for* para iterar paralelamente sobre os quatro elementos de cada uma das duas listas. Exiba os elementos.

In [2]:
# Insira o código abaixo.
lista_numeros = list(range(1, 5))
lista_strings = ['a', 'b', 'c', 'd']

for i, n in zip(lista_numeros, lista_strings):
  print(f'{i} - {n}')

1 - a
2 - b
3 - c
4 - d

## Orientação  Objetos

41 - Crie uma classe que modele um ser humano, esta deve possuir os seguintes atributos e métodos:
* nome
* idade
* peso
* altura
* envelhecer()
* engordar()
* emagrecer()
* crescer()

O acesso aos atributos deve ser realizado através de métodos. O método envelhecer adicionar +1 na idade, o método engordar adiciona +1 no peso, o método emagrecer subtrai -1 no peso e o método crescer adicionar +1 na altura. Considere que a cada ano em que a pessoa envelhece, ela deve crescer 1 cm caso a idade dela seja menor que 20 anos.

In [5]:
# Insira a resposta abaixo.
class humano:
  
  def __init__(self, nome, idade, peso, altura):
    self.__nome = nome
    self.__idade = idade
    self.__peso = peso
    self.__altura = altura

  @property
  def nome(self):
    return self.__nome

  @property
  def idade(self):
    return self.__idade 

  @property
  def peso(self):
    return self.__peso

  @property
  def altura(self):
    return self.__altura

  #Métodos
  def envelhecer(self):
    self.__idade +=1

  def engordar(self):
    self.__peso +=1

  def emagrecer(self):
    self.__peso -=1

  def crescer(self):
    if self.__idade<20:
      self.__altura +=1

42 - Instancie um objeto da classe Humano com 17 anos, 170 cm de altura e 70 quilos e realize os seguintes passos:
* Exiba a idade e altura antes e após chamar o método envelhecer.
* Exiba o peso antes e após chamar o método engordar.
* Exiba o peso antes e após chamar o método emagrecer.

In [6]:
# Insira a resposta abaixo.

XPTO = humano('XPTO', 25, 65, 168)

print('{} tem {} anos e possui {} cm de altura'.format(XPTO.nome, XPTO.idade, XPTO.altura))
XPTO.envelhecer()
print('{} agora tem {} anos e possui {} cm de altura'.format(XPTO.nome, XPTO.idade, XPTO.altura))

print('{} tem {} kg'.format(XPTO.nome, XPTO.peso))
XPTO.engordar()
print('{} agora tem {} kg'.format(XPTO.nome, XPTO.peso))
XPTO.emagrecer()
print('{} voltou a ter {} kg'.format(XPTO.nome, XPTO.peso))

XPTO tem 25 anos e possui 168 cm de altura
XPTO agora tem 26 anos e possui 168 cm de altura
XPTO tem 65 kg
XPTO agora tem 66 kg
XPTO voltou a ter 65 kg

43 - Crie uma classe que modele um Funcionario, ela deve herdar todas as características da classe Humano, além dos seguintes atributos:

* profissao
* salario

O acesso aos atributos deve ser realizado através de métodos.

In [14]:
# Insira a resposta abaixo.
class funcio(humano):
  def __init__(self, nome, idade, peso, altura, profissao, salario):
    humano.__init__(self, nome, idade, peso, altura)
    self.__profissao = profissao
    self.__salario = salario

    
  @property
  def profissao(self):
    return self.__profissao

  @property
  def salario(self):
    return self.__salario

  def setSalario(self, salario):
    self.__salario = salario
    
  def setProfissao(self, profissao):
    self.__profissao = profissao

44 - Crie um objeto da classe Funcionario que realize os seguintes passos:
* Exiba o nome do funcionário
* Exiba a profissao inicial e uma nova profissão assinalada ao objeto.
* Exiba o salário inicial e o salário após um aumento de 500 reais.

In [15]:
# Insira a resposta abaixo.

XPTO = funcio('XPTO', 25, 65, 168, 'Desenvolvedor', 5400)
print('{} é  {}'.format(XPTO.nome, XPTO.profissao))
XPTO.setProfissao('Arquiteto de software')
print('{} foi promovido para {}'.format(XPTO.nome, XPTO.profissao))
print('{} ganhava {}'.format(XPTO.nome, XPTO.salario))
XPTO.setSalario(XPTO.salario+1500)
print('{} passou a ganhar {}'.format(XPTO.nome, XPTO.salario))

XPTO é  Desenvolvedor
XPTO foi promovido para Arquiteto de software
XPTO ganhava 5400
XPTO passou a ganhar 6900