## Introduzindo Operações Básicas com Tipos Numéricos e Booleanos

1 - Compute a saída da seguinte expressão matemática sem realizar nenhuma simplificação:
$ a^{2} + \frac{3}{4} \times b \times 987(c - \frac{10^{-9}}{\sqrt{0.5^{3}}}) $. Assuma que os valores das variáveis a, b e c correpondam a 2, 4 e 8, respectivamente. Armazene o resultado em uma variável.

Dica: consulte os operadores aritméticos disponíveis no Python. Utilize a biblioteca math para operação de raiz.

In [ ]:
# Insira a resposta abaixo.
import math

a=2
b=4
c=8

d = a**2 + ((3/4)*b*987*(c-(1e-9/math.sqrt(0.5**3))))

print(d)

23691.999991625027

2 - Armazene em uma variável o resto da divisão da expressão anterior por 23691.

In [ ]:
# Insira a resposta abaixo.

e =d%23691
print(e)

0.9999916250271781

3 - Cheque se a saída do resto da divisão é ***i) igual a 1***, ***ii) maior que 1***, ***iii) menor ou igual que 1*** e ***iv) diferente de 1***. Utilize a função *print* para exibir a saída de cada checagem. Consulte os operadores relacionais disponívels no Python.

In [ ]:
# Insira a resposta abaixo.
print(e == 1)
print(e > 1)
print(e <= 1)
print(e != 1)

False
False
True
True

4 - Exiba a saída de operações booleanas do tipo **AND** e do tipo **OR** entre dois termos que apresentem valores: 
1. **verdadeiros**;
2. **verdadeiro e falso**;
3. **falsos**.

Ao todo devem ser apresentadas seis operações.

In [ ]:
# Insira a resposta abaixo.
print(1==1 and 2==2)
print(1==1 and 2!=2)
print(1!=1 and 2!=2)
print(1==1 or 2==2)
print(1==1 or 2!=2)
print(1!=1 or 2!=2)

True
False
False
True
True
False

5 - Escreva a seguinte expressão booleana **(A + B) . (¬B . A)**. Considere que "+" indica uma operação  OR; "." indica uma operação AND e ''¬'' indica uma operação de negação (NOT). Defina previamente a variávei *A* com valor verdadeiro e a variávei *B* com valor falso.

In [ ]:
# Insira a resposta abaixo.
A=True
B=False

C = (A or B) and (not B and A)
print(C)

True

6 - Cheque se a saída da expressão booleana da questão imediatamente anterior é falsa.

In [ ]:
# Insira a resposta abaixo.
C is False

False

## Introduzindo Operações com Strings

Dica: você pode utilizar a função *help(arg)* para visualizar os métodos que podem ser acessados a partir de uma variável de um tipo qualquer.

Segue abaixo alguns exemplos:

```
# Exemplo usando como argumento a função que representa o tipo de dado
help(str)

# Exemplo usando uma variavel qualquer
a = "teste"
help(a)

# Exemplo utilizando uma variavel do tipo dicionário
dicionario = {"chave":"valor"}
help(dicionario)

```

7 - Defina uma variável com o valor "hello wORld". Utilize as funções de string do Python para reproduzir as seguintes saídas: "Hello World", "hello world", "HELLO WORLD".  Dica: para visualizar as funções disponíveis digite em uma célula de código `'str' ` e em seguida tecle tab.

In [ ]:
# Insira a resposta abaixo.
var = 'hello wORld'
var1 = str.title(var)
var2 = str.lower(var)
var3 = str.upper(var)
print(var1)
print(var2)
print(var3)

Hello World
hello world
HELLO WORLD

8 - Dada a seguinte frase " *Esse é o seu primeiro tweet.* ", remova os espaços em branco das extremidades. Em seguida, substitua a palavra *'primeiro'* por *'segundo'*. 



**Observação:** a operação para remoção de espaços não atua em um modo '*in-place*', isto é, não altera diretamente o objeto, apenas retorna uma cópia modificada que pode ser armazenada em uma variável. A seguir, pode-se conferir um exemplo de uma operação que não é in-place e requer que assinalemos uma variável para receber a modificação.

In [ ]:
# EXEMPLO: operação que não atua em modo 'in-place'

a = ' Esse é o seu primeiro tweet. '
a = a[1:-2]

print(a)

Esse é o seu primeiro tweet

In [ ]:
# Insira a resposta abaixo.
b = a.replace('primeiro', 'segundo')
print(b)

Esse é o seu segundo tweet

9 - Fazendo uso do resultado da questão anterior, exiba a quantidade de ocorrências da palavra *'segundo'* e em seguida a quantidade de caracteres *'s'*.

In [ ]:
# Insira a resposta abaixo.
print('a quantidade de "segundo" é: ', b.count('segundo'))
print('a quantidade de "s" é: ', b.count('s'))

a quantidade de "segundo" é:  1
a quantidade de "s" é:  4

10 - Concatene duas variáveis do tipo strings com valores arbitrários e exiba o resultado.

**Observação:** A string resultante deve possuir no mínimo quatro caracteres.

In [ ]:
# Insira a resposta abaixo.
a ='Eu estou fazendo '
b = 'uma lista de exercícios'
c = a+b
print(c)

Eu estou fazendo uma lista de exercícios

11 - Utilize a indexação e exiba apenas do segundo ao quarto caractere da variável do tipo string resultante questão imediatamente anterior.

In [ ]:
# Insira a resposta abaixo.
print(c[1:4])

u e

12 - Exiba a string "Mensagem: " seguida pela string armazenada na variável *msg* definida abaixo. Dica: utilize a função format().

In [ ]:
msg = "This is your first tweet."
# Insira a resposta abaixo.
print('Mensagem: {}'.format(msg))

Mensagem: This is your first tweet.

13  - Reproduza as próximas três mensagens a partir das variáveis definidas na célula de código.

**Mensagem**: Definir uma string com três aspas simples permite construir textos com quebra de linha automática.

In [ ]:
tipo_var = "string"
qtd = "três"
# Insira a resposta abaixo.

print('''Mensagem: Definir uma {} com {} aspas simples permite construir textos com quebra de linha automática'''.format(tipo_var,qtd))

Mensagem: Definir uma string com três aspas simples permite construir textos com quebra de linha automática

**Mensagem**:  O número pi é aproximadamente 3.14

In [ ]:
pi = 3.14159
# Insira a resposta abaixo.
print('O número pi é aproximadamente {:.2f}'.format(pi))

O número pi é aproximadamente 3.14

**Mensagem**: O meu nome é [*receber string via input*] e eu tenho [*receber inteiro via input*] anos.

In [ ]:
# Insira a resposta abaixo.
a = input('Qual seu nome?\n')
b = input('Qual sua idade?\n')
print('Mensagem: O meu nome é {} e eu tenho {} anos.'.format(a,b))

Qual seu nome?
Renan
Qual sua idade?
27
Mensagem: O meu nome é Renan e eu tenho 27 anos.

## Introduzindo Estruturas de Dados

Nessa sessão serão exploradas as estruturas de dados do tipo lista, tupla e dicionário. Para realizar os exercícios abaixos baseados em listas podem ser utilizados métodos como *sum(arg), extend(), reverse(), append(), insert(index, element), sort()*.

### Listas

14 - Realize as seguintes operações:


1. Crie uma lista vazia.
2. Adicione três elementos do tipo inteiro ao final da lista (*o método para adição de novos elementos em uma lista atua de forma in-place, portanto, basta invocá-lo.*).
3. Adicione um novo elemento na segunda posição da lista (*método in-place).
4. Exiba a soma dos quatro elementos (*python já possui uma função built-in para esssa operação*.)
5. Re-assinale o elemento da terceiro posição com um valor do tipo float.
6. Repita o passo 4.
7. Inverta os elementos da lista atual. (*função para inversão é in-place*)
8. Re-ordene os elementos da lista.
9. Armazene uma nova lista em uma variável qualquer com 2 números inteiros.
10. Concatena a nova lista criada com a lista resultante do passo 7.
11. Exiba o valor máximo e mínimo da resultante do passo anterior.

In [ ]:
# Insira a resposta abaixo.
#1
a = []
print(a)
#2
a.extend([1,2,3])
print(a)
#3
a.insert(1,4)
print(a)
#4
print(sum(a))
#5
a[2] = 2.45
print(a)
#6
print(sum(a))
print(a)
#7
rev = a.copy()
rev.reverse()
print(rev)
#8
a.sort()
print(a)
#9
b = [10, 11]
print(b)
#10
rev.extend(b)
print(rev)
#11
print(max(rev))
print(min(rev))

[]
[1, 2, 3]
[1, 4, 2, 3]
10
[1, 4, 2.45, 3]
10.45
[1, 4, 2.45, 3]
[3, 2.45, 4, 1]
[1, 2.45, 3, 4]
[10, 11]
[3, 2.45, 4, 1, 10, 11]
11
1

15 - Converta a string definida abaixo em uma lista de palavras, armazene a lista em uma variável. Dica: cheque as operações disponíveis para strings.

In [ ]:
frase = "Formação de Recursos Humanos Qualificados em Inteligência Artificial"
 
# Insira a resposta abaixo.
 
List = frase.split(' ')
print(List)

['Formação', 'de', 'Recursos', 'Humanos', 'Qualificados', 'em', 'Inteligência', 'Artificial']

16 - Verifique se a palavra "Humanos" está contida na lista de palavras criada anteriormente. Exiba True ou False para indicar a resposta.

In [ ]:
# Insira a resposta abaixo.
print('Humanos' in List)

True

17 - Crie automaticamente uma lista contendo 50 elementos de valor 3 e armazene-a em uma variável. Dica: utilize o operador de multiplicação.

In [ ]:
# Insira a resposta abaixo.
import numpy as np
List = np.ones(50)*3
print(List) 
 
List2 = [] 
for i in range(50):
    List2.extend([3])
 
print(List2)

[3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3.
 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3.
 3. 3.]
[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

### Tuplas

18 - Converta a lista resultante da primeira questão sobre Listas para uma tupla e exiba o tipo de dados do objeto criado. Após realizar o casting, utilize a indexação para exibir todos os elementos com exceção do primeiro e último.

In [ ]:
# Insira a resposta abaixo.
Tuple = tuple(rev) 
print(type(Tuple))
print(Tuple[1:-1])

<class 'tuple'>
(2.45, 4, 1, 10)

19 - Exiba os atributos/métodos disponíveis a partir objetos do tipo lista e tuple utilizados na questão anterior. Dica: utilize o método dir.

In [ ]:
# Insira a resposta abaixo.
print(dir(List))

['T', '__abs__', '__add__', '__and__', '__array__', '__array_finalize__', '__array_function__', '__array_interface__', '__array_prepare__', '__array_priority__', '__array_struct__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__complex__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']

In [ ]:
# Insira a resposta abaixo
print(dir(Tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

20 - Crie uma tupla contendo 5 números inteiros quaisquer. Em seguida, exiba o valor máximo e o valor mínimo da tupla criada.

In [ ]:
# Insira a resposta abaixo.
Tuple = (1,2,3,4,5)
print(max(Tuple),' <- max min -> ', min(Tuple))

5  <- max min ->  1

### Dicionários

21 - A partir do dicionário inicializado abaixo com quatro items, adicione três novos items com chaves "three", "four" e "five" e valores "três", "quatro" e "cinco".

In [ ]:
my_dict = {}
my_dict["one"] = "um"
my_dict["two"] = "dois"
my_dict[(1,2)] = ["um","dois"]
my_dict[1.3] = "um ponto três"
my_dict["three"] = "três"
my_dict["four"] = "quatro"
my_dict["five"] = "cinco"
 
print(my_dict)

{'one': 'um', 'two': 'dois', (1, 2): ['um', 'dois'], 1.3: 'um ponto três', 'three': 'três', 'four': 'quatro', 'five': 'cinco'}

22 - A partir do dicionário definido anteriormente, remova o item ("one", "um") do dicionário.

In [ ]:
# Insira a resposta abaixo
my_dict.pop("one")
print(my_dict)

{'two': 'dois', (1, 2): ['um', 'dois'], 1.3: 'um ponto três', 'three': 'três', 'four': 'quatro', 'five': 'cinco'}

23 - A partir do dicionário definido anteriormente, realize as seguintes operações ordenadamente.

1.   Exiba a quantidade de items do dicionário.
2.   Gere automaticamente uma lista contendo as  chaves do dicionário.
3.   Gere automaticamente uma lista contendo os valores do dicionário.
4.   Gere automaticamente uma lista composta por tuplas do tipo (chave, valor).
5.   Remova os items cuja chaves são (1,2) e 1.3.
6.   Exiba o dicionário final

In [ ]:
# Insira a resposta abaixo
 
# Passo 1
print(len(my_dict)) 
 
# Passo 2
List=list(my_dict.keys())
print(List) 
 
# Passo 3
List2=list(my_dict.values())
print(List2)
 
# Passo 4
List3=list(my_dict.items())
print(List3) 
 
# Passo 5
my_dict.pop((1,2))
my_dict.pop(1.3)
 
# Passo 6
print(my_dict)

6
['two', (1, 2), 1.3, 'three', 'four', 'five']
['dois', ['um', 'dois'], 'um ponto três', 'três', 'quatro', 'cinco']
[('two', 'dois'), ((1, 2), ['um', 'dois']), (1.3, 'um ponto três'), ('three', 'três'), ('four', 'quatro'), ('five', 'cinco')]
{'two': 'dois', 'three': 'três', 'four': 'quatro', 'five': 'cinco'}

24 - A partir dos dicionários '*en*' e '*pt_br*' definidos abaixo, crie um terceiro dicionário denominado '*translator*' cujas chaves são, respectivamente, 'en' e 'pt_br' e os valores sejam os dicionários correspondentes. Exiba o dicionário criado.

In [ ]:
en = {1:"um", 2:"dois", 3:"tres"}
pt_br = {1:"one", 2:"two", 3:"three"}

# Insira a resposta abaixo
dic = {'en':en, 'pt_br':pt_br}
print(dic)

{'en': {1: 'um', 2: 'dois', 3: 'tres'}, 'pt_br': {1: 'one', 2: 'two', 3: 'three'}}

### Estruturas de Decisão

25 - Utilize estruturas de decisão se-senão para construir um script que simule a árvore de decisão disposta na figura abaixo. Para cada nó da árvore, o usuário deve fornecer um valor a ser armazenado em uma variável e utilizado para verificar o fluxo que deve ser seguido até atingir uma das folha, exibindo algum dos valores "Opção 1", "Opção 2" ou "Opção 3".


![alt text](https://docs.google.com/uc?export=download&id=1O4rn7YIeOpUcFibD40ir2zJAqfobZIs2)

In [ ]:
try:
  x1 = float(input('Favor entrar um numero:\n'))
except:
  print('Você não digitou um número válido, reinicie o programa')

#Cond1
if x1>3.77:
  print('Opção 1')
  print('Fim da árvore de decisão')
  
else:
  try:
    x2 = float(input('Favor entrar um numero:\n'))
  except:
    print('Você não digitou um número válido, reinicie o programa')
  
  #Cond2
  if x2>0.5:
    try:
      x3 = float(input('Favor entrar um numero:\n'))
    except:
      print('Você não digitou um número válido, reinicie o programa')

    #Cond 3
    if x3>=0.78:
      print('Opção 2')
      print('Fim da árvore de decisão')
    else:
      print('Opção 1')
      print('Fim da árvore de decisão')
    
  else:
    try:
      x4 = float(input('Favor entrar um numero:\n'))
    except:
      print('Você não digitou um número válido, reinicie o programa')    
    #Cond 4
    if x4>0.5:
      print('Opção 2')
      print('Fim da árvore de decisão')
    elif x4==0.5:
      print('Opção 3')
      print('Fim da árvore de decisão')
    elif x4>0.25 and x4<0.5:
      print('Opção 1')
      print('Fim da árvore de decisão')
    else:
      print('Questão não abrange esta opção')

Favor entrar um numero:
0
Favor entrar um numero:
0.2
Favor entrar um numero:
0.2
Questão não abrange esta opção

### Estruturas de Repetição

for (with range), while, list comprehension

26 - Crie um programa que receba do usuário uma entrada referente a string "Please, type 'q' to quit". Enquanto o usuário não digitar o caractere 'q', o programa deve exibir "Sorry, try again." e continuar solicitando a informação. Dica: utilize o comando break para interrupção.

In [ ]:
# Insira a resposta abaixo.
x = input("Please, type 'q' to quit\n")

while x != 'q':
  print('Sorry, try again.')
  x = input("Please, type 'q' to quit\n")

Please, type 'q' to quit
w
Sorry, try again.
Please, type 'q' to quit
r
Sorry, try again.
Please, type 'q' to quit
t
Sorry, try again.
Please, type 'q' to quit
q

27 - Crie um programa que imprima apenas os números ímpares entre 1 e 100.

In [ ]:
# Insira a resposta abaixo.
for i in range(1,101,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

28 - A partir da lista definida abaixo, crie uma nova lista contendo apenas os números negativos. Dica: considere utilizar o modo list comprehension.

In [ ]:
lista = [-6, 21, -22, 4, -17, -21, 22, -11, 3, 28]
# Insira a resposta abaixo.
lista2=[]
for i in lista:
  if i<0:lista2.append(i)

lista2

[-6, -22, -17, -21, -11]

29 - Converta a string definida abaixo em uma lista de palavras. Em seguida, crie um dicionário cujas chaves são as palavras contidas no texto e os valores representem a quantidade de ocorrências da palavra em questão.

In [ ]:
texto = '''
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus consequat libero sed eleifend. Mauris pulvinar quam pharetra 
est efficitur maximus. Mauris tincidunt neque cursus ante vehicula viverra. Nullam neque neque, lobortis ut lacinia in, euismod non purus. 
Quisque egestas pellentesque nulla eget egestas. In sem felis, pellentesque bibendum hendrerit varius, dapibus blandit libero. Nunc 
fermentum id risus vel suscipit. Aenean laoreet posuere purus ac viverra. Sed vitae sem finibus, tempor magna a, iaculis ex. Pellentesque 
sit amet scelerisque purus, quis volutpat ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus est metus, vitae 
molestie elit porta a. Praesent pharetra odio id purus auctor porttitor a ut risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
'''

# # Insira a resposota abaixo.
for i in ".\n,":
        texto = texto.replace(i, '')

lista = texto.split(' ')

from collections import Counter
dicionario = Counter(lista)
dicionario = dict(dicionario)
print(dicionario)

{'Lorem': 3, 'ipsum': 3, 'dolor': 3, 'sit': 4, 'amet': 4, 'consectetur': 3, 'adipiscing': 3, 'elit': 4, 'Maecenas': 1, 'maximus': 2, 'consequat': 1, 'libero': 2, 'sed': 1, 'eleifend': 1, 'Mauris': 2, 'pulvinar': 1, 'quam': 1, 'pharetra': 2, 'est': 2, 'efficitur': 1, 'tincidunt': 1, 'neque': 3, 'cursus': 2, 'ante': 2, 'vehicula': 1, 'viverra': 2, 'Nullam': 1, 'lobortis': 1, 'ut': 2, 'lacinia': 1, 'in': 1, 'euismod': 1, 'non': 1, 'purus': 4, 'Quisque': 1, 'egestas': 2, 'pellentesque': 2, 'nulla': 1, 'eget': 1, 'In': 1, 'sem': 2, 'felis': 1, 'bibendum': 1, 'hendrerit': 1, 'varius': 1, 'dapibus': 1, 'blandit': 1, 'Nunc': 1, 'fermentum': 1, 'id': 2, 'risus': 2, 'vel': 1, 'suscipit': 1, 'Aenean': 1, 'laoreet': 1, 'posuere': 1, 'ac': 1, 'Sed': 1, 'vitae': 2, 'finibus': 1, 'tempor': 1, 'magna': 1, 'a': 3, 'iaculis': 1, 'ex': 1, 'Pellentesque': 1, 'scelerisque': 1, 'quis': 1, 'volutpat': 1, 'Nulla': 1, 'metus': 1, 'molestie': 1, 'porta': 1, 'Praesent': 1, 'odio': 1, 'auctor': 1, 'porttitor': 1}

30 - Imprima o dicionário gerado no passo anterior seguindo uma ordem alfabética. 

Dicas: 
1. Python já possui uma função built-in ordenação de listas
2. É possível utilizar uma estrutura de repetição para construir um novo dicionário.

In [ ]:
# Insira a resposta abaixo.
dic = dicionario.copy()
lista = list(dic.keys())
lista = sorted(lista, key=str.casefold)
# print(lista)

dic2={}
for word in lista:
  dic2[word]=dic[word]

print(dic2)

{'a': 3, 'ac': 1, 'adipiscing': 3, 'Aenean': 1, 'amet': 4, 'ante': 2, 'auctor': 1, 'bibendum': 1, 'blandit': 1, 'consectetur': 3, 'consequat': 1, 'cursus': 2, 'dapibus': 1, 'dolor': 3, 'efficitur': 1, 'egestas': 2, 'eget': 1, 'eleifend': 1, 'elit': 4, 'est': 2, 'euismod': 1, 'ex': 1, 'felis': 1, 'fermentum': 1, 'finibus': 1, 'hendrerit': 1, 'iaculis': 1, 'id': 2, 'in': 1, 'In': 1, 'ipsum': 3, 'lacinia': 1, 'laoreet': 1, 'libero': 2, 'lobortis': 1, 'Lorem': 3, 'Maecenas': 1, 'magna': 1, 'Mauris': 2, 'maximus': 2, 'metus': 1, 'molestie': 1, 'neque': 3, 'non': 1, 'nulla': 1, 'Nulla': 1, 'Nullam': 1, 'Nunc': 1, 'odio': 1, 'pellentesque': 2, 'Pellentesque': 1, 'pharetra': 2, 'porta': 1, 'porttitor': 1, 'posuere': 1, 'Praesent': 1, 'pulvinar': 1, 'purus': 4, 'quam': 1, 'quis': 1, 'Quisque': 1, 'risus': 2, 'scelerisque': 1, 'sed': 1, 'Sed': 1, 'sem': 2, 'sit': 4, 'suscipit': 1, 'tempor': 1, 'tincidunt': 1, 'ut': 2, 'varius': 1, 'vehicula': 1, 'vel': 1, 'vitae': 2, 'viverra': 2, 'volutpat': 1}

31 - Na lista 'colors' definida abaixo têm-se três tipos diferentes de cores. A partir dela, crie uma nova lista na qual cada string deve assumir uma lista com valores inteiros seguindo uma estratégia binária da seguinte forma:

```
red,	green,	blue
[1,		0,		0]
[0,		1,		0]
[0,		0,		1]

```

Dica: crie uma lista com os três possíveis valores e utilize a posição do elemento.

In [ ]:
colors = ['blue', 'blue', 'green', 'blue', 'red', 'red', 'green', 'blue', 'green', 'red']
col = colors.copy()
red = [1,0,0]
green = [0,1,0]
blue = [0,0,1]
# Insira a resposta abaixo
c=0
for i in colors:
  if i=='red':
    col[c] = red
  elif i=='green':
    col[c] = green
  elif i=='blue':
    col[c] = blue
  c+=1 

print(col)

[[0, 0, 1], [0, 0, 1], [0, 1, 0], [0, 0, 1], [1, 0, 0], [1, 0, 0], [0, 1, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0]]

32 - A partir da lista resultante da questão imediatamente anterior,  reverta o processo e retorne uma lista contendo as strings 'blue', 'green' e 'red'.

In [ ]:
# Insira a resposta abaixo
c=0
for i in col:
  if i==red:
    col[c]='red'
  elif i==green:
    col[c]='green'
  elif i==blue:
    col[c]='blue'
  c+=1 

print(col)

['blue', 'blue', 'green', 'blue', 'red', 'red', 'green', 'blue', 'green', 'red']